In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [15]:
df_iter = pd.read_csv("green_tripdata_2019-09.csv", iterator=True, chunksize=1000000)

In [16]:
df = next(df_iter)

/var/folders/q7/1xh6fjp17l728kwxlkbcrs7w0000gn/T/ipykernel_3571/4178490087.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

In [18]:
df.tpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

/var/folders/q7/1xh6fjp17l728kwxlkbcrs7w0000gn/T/ipykernel_3571/3869521473.py:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
/var/folders/q7/1xh6fjp17l728kwxlkbcrs7w0000gn/T/ipykernel_3571/3869521473.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.tpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [19]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-09-01 00:10:53,2019-09-01 00:23:46,N,1.0,65,189,5.0,2.00,10.5,0.5,0.5,2.36,0.0,NaN,0.3,14.16,1.0,1.0,0.0
1,2.0,2019-09-01 00:31:22,2019-09-01 00:44:37,N,1.0,97,225,5.0,3.20,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
2,2.0,2019-09-01 00:50:24,2019-09-01 01:03:20,N,1.0,37,61,5.0,2.99,12.0,0.5,0.5,0.00,0.0,NaN,0.3,13.30,2.0,1.0,0.0
3,2.0,2019-09-01 00:27:06,2019-09-01 00:33:22,N,1.0,145,112,1.0,1.73,7.5,0.5,0.5,1.50,0.0,NaN,0.3,10.30,1.0,1.0,0.0
4,2.0,2019-09-01 00:43:23,2019-09-01 00:59:54,N,1.0,112,198,1.0,3.42,14.0,0.5,0.5,3.06,0.0,NaN,0.3,18.36,1.0,1.0,0.0

In [20]:
%time df.to_sql(name='green_taxi_data_2019_09', con=engine, if_exists='append')

CPU times: user 11.8 s, sys: 1.57 s, total: 13.4 s
Wall time: 55.6 s

63

In [21]:
from time import time

while True:
    t_start = time()
    
    df = next(df_iter)
    
    df.tpep_dropoff_datetimep = pd.to_datetime(df.tpep_dropoff_datetime)
    df.tpep_pickup_datetimep = pd.to_datetime(df.tpep_pickup_datetime)
    
    df.to_sql(name="yellow_taxi_data_2019_09", con=engine, if_exists="append")
    
    t_end = time()
    
    print("Operations took %.3f second" % (t_end - t_start))

StopIteration:

In [24]:
df_iter = pd.read_csv("taxi+_zone_lookup.csv", iterator=True, chunksize=500)
df = next(df_iter)

In [25]:
df.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [26]:
df.to_sql(name='taxi_zone_lookup', con=engine, if_exists='replace')

265